[Unit]
Description={{ app.description }}
After=network.target
AssertPathExists={{ app.dest2 }}

[Service]
Type=simple
User={{ app.owner }}
Group={{ app.owner }}
DynamicUser=true

WorkingDirectory={{ app.dest2 }}
Environment="PATH={{ app.dest2 }}.venv/bin"
PrivateTmp=true

ExecStart={{ app.dest2 }}.venv/bin/gunicorn --config gunicorn_config.py main:app
ExecReload=/bin/kill -HUP ${MAINPID}
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
