{% extends "base.html" %}
{% block content %}
  <div class="row mt-3">
    {% for user in users %}
      <div class="col-lg-3">
        <div class="card shadow bg-dark text-white p-2 mb-2 rounded cardAnimation"
             style="width: 0; height: 0; ">
          <div class="card-header bg-white text-dark rounded-3"
               style="height: 150px;">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 class="bi bi-person-hearts mx-auto d-block"
                 viewBox="0 0 16 16"
                 style="width: 150px;
                        height: 150px;
                        object-fit: cover;
                        object-position: center;">
              <path fill-rule="evenodd"
              d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9
              8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
            </svg>
          </div>
          <div class="card-body text-cap">
            <h5 class="card-title">Firstname: {{ user.firstname }}</h5>
            <p class="card-text">Lastname: {{ user.lastname }}</p>
            <a class="btn btn-primary" href="/movies/{{ user.id }}" role="button">Likes</a>
            <a class="btn btn-primary float-end"
               data-bs-toggle="modal"
               href="#add_movie{{ loop.index }}"
               role="button">Add Movie</a>
          </div>
        </div>
        {% if loop.index %4 %}
        </div>
      {% else %}
      </div>
    </div>
    <br>
    <div class="row">
    {% endif %}
    <div class="modal fade"
         id="add_movie{{ loop.index }}"
         aria-hidden="true"
         aria-labelledby="{{ loop.index }}ToggleLabel"
         tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body" style="display: block;">
            <form action="/add-movie/{{ user.id }}" method="post">
              <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       name="title"
                       id="title"
                       placeholder="Input title">
                <label for="floatingLabel">Title (Min 3 characters)</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       name="genre"
                       id="genre"
                       placeholder="Input genre">
                <label for="floatingLabel">Genre (Min 3 characters)</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       name="year"
                       id="genre"
                       placeholder="Year">
                <label for="floatingLabel">Year</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       name="trailer"
                       id="genre"
                       placeholder="Input Youtube ID">
                <label for="floatingLabel">Youtube ID (11 characters)</label>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button"
                        class="btn btn-secondary float-end"
                        data-bs-dismiss="modal"
                        aria-label="Close">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
